/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/


html {                                      
  /*background-image: linear-gradient(
              115deg,
              rgba(216, 64, 221, 0.24),
              rgba(0, 102, 46, 0.2)
            ),
            url(https://fortunesite-apcloudtech.s3.us-east-2.amazonaws.com/image0.jpg);


  position: fixed;
  top: absolute;
  left: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;*/
  /*                                  background: url(https://fortunesite-apcloudtech.s3.us-east-2.amazonaws.com/image0.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
}
.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
#maincontent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}                         
body {
    width: auto;
    margin: 0 auto; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  
  }
  .container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    
  }

  .container2 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
  }
  .ghost-input, p {
    display: block;
    text-align: center;
    font-weight:300;  
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    background: transparent;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-input:focus {
    border-bottom:1px solid #ddd;
    background: transparent;
  }
  .ghost-input::placeholder{
    color: #646464;
  }
  .ghost-button {
    background-color: transparent;
    border:2px solid rgb(0, 0, 0);
    padding:10px 30px;
    width: 100%;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-button:hover {
    border:2px solid #ffffff;
  }
  p {
    color: #000000;
    background-color: transparent;
  }
  .added {
    color:rgb(182, 31, 4);
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #008f83;
  }